body {
    color: #d6d6d6; /* Text color */
    background-color: #161616;
}

/* unvisited link */
a:link {
    color: #d6d6d6;
}

/* visited link */
a:visited {
    color: #d6d6d6;
}

/* mouse over link */
a:hover {
    color: #ebebeb;
}

/* selected link */
a:active {
    color: #bfbfbf;
}

.project-butt {
    padding: 20px;
    background-color: #161616;
    color: #d6d6d6;
    border-radius: 6px;

    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    outline-color: #d6d6d6;
    outline-style: solid;

    display:block;
    text-decoration: none;
}

.container{
    padding-left: 200px;
    padding-right: 200px;
}

.intro {
    text-align: center;
}

/* Example of class */
.icon{
    background-color: blueviolet;
}