body{
    color: #d6d6d6; /* Text color */
    background-color: #161616;
    padding-bottom: 70px;
    font-size: 18px;
    font-family: sans-serif;
}

/* unvisited link */
a:link {
    color: #d6d6d6;
}

/* visited link */
a:visited {
    color: #d6d6d6;
}

/* mouse over link */
a:hover {
    color: #ebebeb;
}

/* selected link */
a:active {
    color: #bfbfbf;
}

.project-butt {
    padding: 20px;


    background-color: #161616;
    color: #d6d6d6;
    border-radius: 6px;

    text-align: center;
    outline-color: #d6d6d6;
    outline-style: solid;

    display:block;
    text-decoration: none;
}

.container {
    width: min(1100px, 92%);
    margin: 0 auto;
    padding-top: 30px;
}

.intro {
    text-align: center;
}

.column {
    float: inline-start;
    width: 32%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.little-pad {
    padding: 10px;
}

.screenshot{
    width: 160px;
    height: 90px;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background: #121212;
    backdrop-filter: blur(6px);

    padding: 18px 20px;
    text-align: center;

    border-top: 1px solid #2a2a2a;
}

.top-bar{
    padding-top: 4px;
    padding-bottom: 10px;

    background-color: #121212;
    color: #d6d6d6;

    text-align: center;

    display:block;
    text-decoration: none;

}
